@keyframes slideInTop {
    from {
        transform: translateY(-1000px);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes changeColour {
    from {
        background-color: black;
    }
    to {
        background-color: #1e1e1e;
    }
}
@keyframes changeColour_body {
    from {
        background-color: black;
    }
    to {
        background-color: #424242;
    }
}
@keyframes changeColour_main {
    from{
        background-color: black;
    }
    to {
        background-color: #1e1e1e;
    }
}

* {
    margin: 0px;
    padding: 0px;
}
body {
    width: 800px;
    margin: auto;
    background-color: #424242;
    background-size: cover;
    animation: changeColour_body 6s;
    font-family: sans-serif;
}
main {
    color: white;
    animation: changeColour_main 7s;
    background-color: #1e1e1e;
}
.welcome {
    padding: 20%;
    height: 66.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: slideInTop 2s ease-in, changeColour 2s forwards;
}

.name{
    background-color: #b3b3b3;
    border: 2px solid #1e1e1e;
    border-radius: 20px;
    color: black;
    height: 150px;
    font-family: 'Caveat', cursive;
}

.name h1{
    text-align: center;
    font-size: 84px;
    font-family: 'Caveat', cursive;
    text-decoration: none;
    clear: both;
    margin: auto;
}

.name p {
    text-align: center;
    font-size: 20px;
}

nav {
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    display: flex;
}
nav a{
    border: 2px solid #424242;
    border-radius: 100px;
    background-color: #424242;
    width: 100vh;
    padding-top: 3%;
    padding-bottom: 3%;
    text-decoration: none;
    color: #b3b3b3;
    font-size: 20;
}

nav a:hover{
    transform: scale(1.04);
}

a {
    color: #b3b3b3;
}

.line {
    width: 800px;
    height: 1px;
    background-color: white;

}

#about img{
    float: right;
    margin: 0px 20px 0px 20px;
    width: 200px;
    height: 200px;
    border: #b3b3b3 solid;
    border-radius: 100px;
}

h1{
    margin-top: 20px;
    text-decoration: underline;
    font-family: 'Inclusive Sans', sans-serif;
    margin-bottom: 10px;
}

p{
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 20;
}
#about{
    height: 100vh;
    margin: 10px;
}

#projects{
    height: auto;
    margin: 10px;
    padding-bottom: 60px;
}

#projects img{
    float: left;
    width: 350px;
    height: 200px;
    border: #b3b3b3 ;
    border-radius: 20px;
}

#projects h2 {
    text-decoration: overline underline;
}

#projects img{
    margin-right: 10px;
    height: 200px;
    width: 350px;
}

.projects{
    height: auto;
    min-height: 200px;
    clear: both;
    margin: 20px 0;
    padding: 20px;
    position: relative;
}

.projects-Text {
    margin-left: 370px;
}

.projects a{
    position: absolute;
    bottom: 0;
    height: auto;
}

#contact-link {
    border-style: dashed;
    display: block;
}

#logos{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#goTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: calc(50% - 400px + 20px);
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
}

footer {
    padding: 20px 0;
    margin-top: 20px;
    border-top: 1px solid #424242;
    background-color: #1e1e1e;
    color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
}

.projects + .projects {
    margin-top: 30px;
}